@{
    Layout = "_Layout";
}
@{
    var posts = ViewBag.posts;
    var photoUrl = "https://localhost:7162/api";
}

<div class="posts">
    
    @foreach (var post in posts)
    {
        <div class="post">
            <div class="contents container">
            @if (!String.IsNullOrEmpty(post.Text))
            {
                <div class="container">
                    <p class="text">
                        @post.Text
                    </p>
                </div>    
            }
            @if (post.Paths != null)
            {
                <div class="images d-flex justify-content-center flex-wrap">
                    @foreach (var path in post.Paths)
                    {
                        <img src="@photoUrl/images/postPhotos/@path" alt="" class="image">
                    }
                </div>    
            }
            <hr/>
            </div>
        </div>
        
    }
    
    
</div>