@{
    Layout = "_Layout";
}
@model List<Person>

<div class="container">
    <div class="row">
        <div class="col-2">
            <div class="list-group friend_list" id="list-tab" role="tablist">
                @foreach (var person in @Model)
                {
                    <a class="list-group-item list-group-item-action">
                        <div class="friend p-2 ">
                            <img class="profilePhoto" src="~/images/profilePhotos/@person.Profile_Photo" width="35px" height="35px"
                                 alt="">
                            <h4 id="userName">@person.Name</h4>
                        </div>
                    </a>
                }
            </div>
            <div class="contentpage">
                Choose a friend to see his posts
            </div>
        </div>
    </div>
</div>