@{
    Layout = "_Layout";
}

<div class="post">
    <div class="post">
        <div class="container" id="posthead">
            <div class="row border-bottom">
                <div class="col-sm-auto">
                    <img src="/images/user.png" alt="User" width="30px" height="30px"
                         class="profilePhoto">
                </div>
                <div class="col-sm-auto">
                    <h2 class="username">Jalil</h2>
                </div>
            </div>
        </div>
        <div class="contents container">
            <div class="container">
                <p class="text">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem animi,
                    blanditiis debitis quos vel cumque doloribus, et cum excepturi eius inventore nulla
                    consectetur adipisci sint corporis harum voluptates at mollitia laudantium eaque est?
                    Commodi nam saepe iure fugit cum repellat voluptates doloribus molestiae, repellendus a
                    nulla provident facere quae odio quam et mollitia id voluptas rem, deserunt quia
                    officia. Minima, ullam, ipsum hic nobis qui dolores deleniti eius quibusdam
                    exercitationem quos aliquam temporibus. Nesciunt inventore veritatis architecto
                    doloremque voluptatibus deleniti enim alias aspernatur hic expedita perferendis
                    obcaecati nulla eius dignissimos aperiam vel, beatae dolore ex! Pariatur, nulla. Sit
                    error dolores exercitationem, praesentium odio voluptate necessitatibus asperiores?
                    Libero, eos doloremque? Similique rem maxime distinctio assumenda. Quae facilis fugit
                    perspiciatis molestiae, autem dolore, nam voluptates repellat hic, corrupti alias
                    deleniti rem dolorum eos aperiam! Non debitis ipsam unde corrupti quisquam fugiat vel
                    maiores, in harum labore, officiis nostrum quibusdam at sunt dignissimos doloribus
                    magnam recusandae soluta. Cumque at dicta itaque cupiditate consequatur fuga eum animi
                    reprehenderit. Consequuntur veniam ullam et illum! Fugit labore, ipsa corporis quod
                    expedita at, enim architecto magni sunt dolore ullam saepe aspernatur beatae voluptates
                    nisi quas, hic doloremque eius blanditiis soluta ut consectetur?
                </p>
            </div>
            <div class="images d-flex justify-content-center flex-wrap">
                <img src="/images/27002.jpg" alt="Image 1" class="image">
                <img src="/images/27002.jpg" alt="Image 1" class="image">
                <img src="/images/27002.jpg" alt="Image 1" class="image">
                <img src="/images/27002.jpg" alt="Image 1" class="image">
                <img src="/images/27002.jpg" alt="Image 1" class="image">
                <img src="/images/27002.jpg" alt="Image 1" class="image">
                <img src="/images/27002.jpg" alt="Image 1" class="image">
                <img src="/images/27002.jpg" alt="Image 1" class="image">
            </div>
        </div>
    </div>
    <div class="post">
        <div class="container" id="posthead">
            <div class="row border-bottom">
                <div class="col-sm-auto">
                    <img src="/images/user.png" alt="User" width="30px" height="30px"
                         class="profilePhoto">
                </div>
                <div class="col-sm-auto">
                    <h2 class="username">Oliver Sykes</h2>
                </div>
            </div>
        </div>
        <div class="contents container">
            <div class="container">
                <p class="text">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem animi,
                    blanditiis debitis quos vel cumque doloribus, et cum excepturi eius inventore nulla
                    consectetur adipisci sint corporis harum voluptates at mollitia laudantium eaque est?
                    Commodi nam saepe iure fugit cum repellat voluptates doloribus molestiae, repellendus a
                    nulla provident facere quae odio quam et mollitia id voluptas rem, deserunt quia
                    officia. Minima, ullam, ipsum hic nobis qui dolores deleniti eius quibusdam
                    exercitationem quos aliquam temporibus. Nesciunt inventore veritatis architecto
                    doloremque voluptatibus deleniti enim alias aspernatur hic expedita perferendis
                    obcaecati nulla eius dignissimos aperiam vel, beatae dolore ex!
                </p>
            </div>
            <div class="images d-flex justify-content-center flex-wrap">
                <img src="/images/27002.jpg" alt="Image 1" class="image">
                <img src="/images/27002.jpg" alt="Image 1" class="image">
                <img src="/images/27002.jpg" alt="Image 1" class="image">
            </div>
        </div>
    </div>
    <div class="post">
        <div class="container" id="posthead">
            <div class="row border-bottom">
                <div class="col-sm-auto">
                    <img src="/images/user.png" alt="User" width="30px" height="30px"
                         class="profilePhoto">
                </div>
                <div class="col-sm-auto">
                    <h2 class="username">Oliver Sykes</h2>
                </div>
            </div>
        </div>
        <div class="contents container">
            <div class="container">
                <p class="text">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem animi,
                    blanditiis debitis quos vel cumque doloribus, et cum excepturi eius inventore nulla
                    consectetur adipisci sint corporis harum voluptates at mollitia laudantium eaque est?
                    Commodi nam saepe iure fugit cum repellat voluptates doloribus molestiae, repellendus a
                    nulla provident facere quae odio quam et mollitia id voluptas rem, deserunt quia
                    officia. Minima, ullam, ipsum hic nobis qui dolores deleniti eius quibusdam
                    exercitationem quos aliquam temporibus. Nesciunt inventore veritatis architecto
                    doloremque voluptatibus deleniti enim alias aspernatur hic expedita perferendis
                    obcaecati nulla eius dignissimos aperiam vel, beatae dolore ex! Pariatur, nulla. Sit
                    error dolores exercitationem, praesentium odio voluptate necessitatibus asperiores?
                    Libero, eos doloremque? Similique rem maxime distinctio assumenda. Quae facilis fugit
                    perspiciatis molestiae, autem dolore, nam voluptates repellat hic, corrupti alias
                    deleniti rem dolorum eos aperiam! Non debitis ipsam unde corrupti quisquam fugiat vel
                    maiores, in harum labore, officiis nostrum quibusdam at sunt dignissimos doloribus
                    magnam recusandae soluta. Cumque at dicta itaque cupiditate consequatur fuga eum animi
                    reprehenderit. Consequuntur veniam ullam et illum! Fugit labore, ipsa corporis quod
                    expedita at, enim architecto magni sunt dolore ullam saepe aspernatur beatae voluptates
                    nisi quas, hic doloremque eius blanditiis soluta ut consectetur?
                </p>
            </div>
            <div class="images d-flex justify-content-center flex-wrap">
                <img src="/images/27002.jpg" alt="Image 1" class="image">
                <img src="/images/27002.jpg" alt="Image 1" class="image">
                <img src="/images/27002.jpg" alt="Image 1" class="image">
                <img src="/images/27002.jpg" alt="Image 1" class="image">
                <img src="/images/27002.jpg" alt="Image 1" class="image">
                <img src="/images/27002.jpg" alt="Image 1" class="image">
                <img src="/images/27002.jpg" alt="Image 1" class="image">
                <img src="/images/27002.jpg" alt="Image 1" class="image">
            </div>
        </div>
    </div>
</div>